USE [master]
GO
/****** Object:  Database [SecretariaDB]    Script Date: 18/02/2026 1:04:35 ******/
CREATE DATABASE [SecretariaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SecretariaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SecretariaDB.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SecretariaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SecretariaDB_log.ldf' , SIZE = 335872KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SecretariaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SecretariaDB]
GO
USE [SecretariaDB]
GO
/****** Object:  User [SECRETARIAPI]    Script Date: 18/02/2026 1:04:36 ******/
CREATE USER [SECRETARIAPI] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [SECRETARIAPI]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SECRETARIAPI]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [SECRETARIAPI]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Oficina_Normaliza]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_Oficina_Normaliza] (@s varchar(100))
RETURNS varchar(200)
AS
BEGIN
    DECLARE @x varchar(200) = UPPER(LTRIM(RTRIM(ISNULL(@s,''))));

    /* 1. Limpieza básica de caracteres invisibles */
    SET @x = REPLACE(@x, CHAR(9),  ' ');
    SET @x = REPLACE(@x, CHAR(10), ' ');
    SET @x = REPLACE(@x, CHAR(13), ' ');
    SET @x = REPLACE(@x, CHAR(160),' ');

    /* 2. Quitar tildes y caracteres especiales */
    SET @x = REPLACE(@x,'Á','A'); SET @x = REPLACE(@x,'É','E'); SET @x = REPLACE(@x,'Í','I'); SET @x = REPLACE(@x,'Ó','O'); SET @x = REPLACE(@x,'Ú','U');
    SET @x = REPLACE(@x,'À','A'); SET @x = REPLACE(@x,'È','E'); SET @x = REPLACE(@x,'Ì','I'); SET @x = REPLACE(@x,'Ò','O'); SET @x = REPLACE(@x,'Ù','U');
    SET @x = REPLACE(@x,'Ñ','N');
    SET @x = REPLACE(@x,'º',''); SET @x = REPLACE(@x,'°',''); -- Simbolos de grado/numero

    /* 3. Normalizar abreviaturas de Numero */
    SET @x = REPLACE(@x,'Nº','');
    SET @x = REPLACE(@x,'N°','');
    SET @x = REPLACE(@x,'NRO.','');
    SET @x = REPLACE(@x,'NRO','');
    SET @x = REPLACE(@x,'NUM.','');
    SET @x = REPLACE(@x,'NUM','');

    /* 4. Correcciones de Typos comunes (Tus datos específicos) */
    SET @x = REPLACE(@x,'COOORDNACION','COORDINACION');
    SET @x = REPLACE(@x,'COOREDINACION','COORDINACION');
    SET @x = REPLACE(@x,'CORRDINACION','COORDINACION');
    SET @x = REPLACE(@x,'COORDIANCION','COORDINACION');
    SET @x = REPLACE(@x,'OEPRATIVA','OPERATIVA');
    SET @x = REPLACE(@x,'LOGISITICA','LOGISTICA');
    SET @x = REPLACE(@x,'DEPOCITO','DEPOSITO');
    SET @x = REPLACE(@x,'GUADIA','GUARDIA');
    SET @x = REPLACE(@x,'DUARDIA','GUARDIA');
    SET @x = REPLACE(@x,'UNDIDAD','UNIDAD');
    SET @x = REPLACE(@x,'LETARDO','LETRADO');
    SET @x = REPLACE(@x,'EJEUCION','EJECUCION');
    SET @x = REPLACE(@x,'EJECUCCION','EJECUCION');
    SET @x = REPLACE(@x,'VIGINANCIA','VIGILANCIA');

    /* 5. Reemplazo de puntuación por espacios */
    SET @x = REPLACE(@x,'.',' '); SET @x = REPLACE(@x,',',' '); SET @x = REPLACE(@x,';',' '); 
    SET @x = REPLACE(@x,':',' '); SET @x = REPLACE(@x,'-',' '); SET @x = REPLACE(@x,'_',' ');
    SET @x = REPLACE(@x,'(',' '); SET @x = REPLACE(@x,')',' '); SET @x = REPLACE(@x,'''',' '); SET @x = REPLACE(@x,'"',' ');

    /* === MEJORA: ELIMINAR PALABRAS VACÍAS (PREPOSICIONES) === */
    /* Esto permite unir "OFICINA DE JURIDICA" con "OFICINA JURIDICA" */
    SET @x = REPLACE(@x, ' DE ', ' ');
    SET @x = REPLACE(@x, ' DEL ', ' ');
    SET @x = REPLACE(@x, ' LA ', ' ');
    SET @x = REPLACE(@x, ' LAS ', ' ');
    SET @x = REPLACE(@x, ' EL ', ' ');
    SET @x = REPLACE(@x, ' LOS ', ' ');
    SET @x = REPLACE(@x, ' Y ', ' ');

    /* 6. Colapsar espacios dobles recursivamente */
    WHILE CHARINDEX('  ', @x) > 0
        SET @x = REPLACE(@x,'  ',' ');

    RETURN LTRIM(RTRIM(@x));
END;
GO
/****** Object:  Table [dbo].[Cat_Estado]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Estado](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[ColorHex] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_Oficina]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Oficina](
	[IdOficina] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[EsExterna] [bit] NULL,
	[Direccion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOficina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_Oficina_Backup_20260203_093509]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Oficina_Backup_20260203_093509](
	[IdOficina] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[EsExterna] [bit] NULL,
	[Direccion] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_Oficina_MergeLog]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Oficina_MergeLog](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[IdFrom] [int] NULL,
	[IdTo] [int] NULL,
	[NombreFrom] [varchar](100) NULL,
	[NombreTo] [varchar](100) NULL,
	[Reason] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_TipoDocumento]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_TipoDocumento](
	[IdTipo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Codigo] [varchar](10) NOT NULL,
	[EsInterno] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_Usuario]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [varchar](100) NOT NULL,
	[UsuarioLogin] [varchar](50) NOT NULL,
	[Activo] [bit] NULL,
	[Clave] [varchar](255) NULL,
	[Rol] [varchar](50) NULL,
	[IdOficina] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UsuarioLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cfg_SistemaParametros]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cfg_SistemaParametros](
	[IdParametro] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [nvarchar](150) NOT NULL,
	[Valor] [nvarchar](500) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[UsuarioActualizacion] [nvarchar](100) NULL,
	[FechaActualizacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Cfg_SistemaParametros] PRIMARY KEY CLUSTERED 
(
	[IdParametro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Cfg_SistemaParametros_Clave] UNIQUE NONCLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cfg_TiemposRespuesta]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cfg_TiemposRespuesta](
	[IdConfig] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoDocumento] [int] NOT NULL,
	[Prioridad] [varchar](20) NOT NULL,
	[DiasMaximos] [int] NOT NULL,
	[HorasMaximas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdConfig] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cfg_TiemposRespuesta_Historial]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cfg_TiemposRespuesta_Historial](
	[IdHist] [int] IDENTITY(1,1) NOT NULL,
	[IdConfigOriginal] [int] NOT NULL,
	[IdTipoDocumento] [int] NOT NULL,
	[Prioridad] [varchar](20) NULL,
	[DiasAnteriores] [int] NULL,
	[DiasNuevos] [int] NULL,
	[FechaCambio] [datetime] NULL,
	[UsuarioSistema] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventosSistema]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventosSistema](
	[IdEvento] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaEvento] [datetime] NULL,
	[Descripcion] [varchar](500) NULL,
	[Modulo] [varchar](100) NULL,
 CONSTRAINT [PK_EventosSistema] PRIMARY KEY CLUSTERED 
(
	[IdEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mae_CuposSecretaria]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mae_CuposSecretaria](
	[IdCupo] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdUsuario] [int] NULL,
	[IdTipo] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[NombreCupo] [varchar](100) NOT NULL,
	[Anio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mae_Documento]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mae_Documento](
	[IdDocumento] [bigint] IDENTITY(1,1) NOT NULL,
	[IdTipo] [int] NOT NULL,
	[NumeroOficial] [varchar](50) NULL,
	[Asunto] [varchar](200) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaRecepcion] [datetime] NULL,
	[Fojas] [int] NULL,
	[IdDocumentoPadre] [bigint] NULL,
	[IdHiloConversacion] [uniqueidentifier] NOT NULL,
	[IdEstadoActual] [int] NOT NULL,
	[IdOficinaActual] [int] NOT NULL,
	[IdUsuarioCreador] [int] NULL,
	[FechaVencimiento] [datetime] NULL,
	[EstadoSemaforo]  AS (case when [FechaVencimiento] IS NULL then 'GRIS' when getdate()>[FechaVencimiento] then 'ROJO' when datediff(day,getdate(),[FechaVencimiento])<=(2) then 'AMARILLO' else 'VERDE' end),
	[AnioDocumento] [int] NULL,
	[NumeroInterno]  AS (concat([IdDocumento],'/',isnull([AnioDocumento],datepart(year,[FechaCreacion])))),
PRIMARY KEY CLUSTERED 
(
	[IdDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mae_NumeracionBitacora]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mae_NumeracionBitacora](
	[IdBitacora] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Entidad] [varchar](30) NOT NULL,
	[Accion] [varchar](30) NOT NULL,
	[Detalle] [varchar](500) NOT NULL,
	[IdTipo] [int] NOT NULL,
	[Anio] [int] NOT NULL,
	[IdOficina] [int] NULL,
	[IdUsuario] [int] NULL,
	[IdReferencia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mae_NumeracionRangos]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mae_NumeracionRangos](
	[IdRango] [int] IDENTITY(1,1) NOT NULL,
	[IdTipo] [int] NOT NULL,
	[NombreRango] [varchar](100) NOT NULL,
	[NumeroInicio] [int] NOT NULL,
	[NumeroFin] [int] NOT NULL,
	[UltimoUtilizado] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[IdOficina] [int] NULL,
	[Anio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRango] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mae_Reclusos]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mae_Reclusos](
	[IdRecluso] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [varchar](200) NOT NULL,
	[Activo] [bit] NULL,
	[Documento] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRecluso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seg_AuditoriaPermisos]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seg_AuditoriaPermisos](
	[IdAuditoria] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NULL,
	[UsuarioNombre] [varchar](100) NULL,
	[Rol] [varchar](50) NULL,
	[PermisoRequerido] [varchar](150) NOT NULL,
	[Modulo] [varchar](150) NULL,
	[Ruta] [varchar](250) NULL,
	[FechaEvento] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Seg_AuditoriaPermisos] PRIMARY KEY CLUSTERED 
(
	[IdAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tra_AdjuntoDocumento]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tra_AdjuntoDocumento](
	[IdAdjunto] [bigint] IDENTITY(1,1) NOT NULL,
	[IdDocumento] [bigint] NOT NULL,
	[StoredName] [nvarchar](200) NOT NULL,
	[DisplayName] [nvarchar](255) NOT NULL,
	[AddedAt] [datetime] NOT NULL,
	[Content] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAdjunto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tra_Movimiento]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tra_Movimiento](
	[IdMovimiento] [bigint] IDENTITY(1,1) NOT NULL,
	[IdDocumento] [bigint] NOT NULL,
	[FechaMovimiento] [datetime] NULL,
	[IdOficinaOrigen] [int] NOT NULL,
	[IdOficinaDestino] [int] NOT NULL,
	[IdUsuarioResponsable] [int] NULL,
	[ObservacionPase] [nvarchar](500) NULL,
	[IdEstadoEnEseMomento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tra_SalidasLaborales]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tra_SalidasLaborales](
	[IdSalida] [int] IDENTITY(1,1) NOT NULL,
	[IdRecluso] [int] NOT NULL,
	[LugarTrabajo] [varchar](200) NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaVencimiento] [datetime] NOT NULL,
	[IdDocumentoRespaldo] [bigint] NULL,
	[Activo] [bit] NULL,
	[Observaciones] [varchar](500) NULL,
	[Horario] [varchar](200) NULL,
	[DetalleCustodia] [varchar](200) NULL,
	[FechaNotificacionJuez] [datetime] NULL,
	[DescripcionAutorizacion] [nvarchar](500) NULL,
 CONSTRAINT [PK_Tra_SalidasLaborales] PRIMARY KEY CLUSTERED 
(
	[IdSalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tra_SalidasLaboralesDocumentoRespaldo]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tra_SalidasLaboralesDocumentoRespaldo](
	[IdSalidaDocumentoRespaldo] [int] IDENTITY(1,1) NOT NULL,
	[IdSalida] [int] NOT NULL,
	[IdDocumento] [bigint] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
 CONSTRAINT [PK_Tra_SalidasLaboralesDocumentoRespaldo] PRIMARY KEY CLUSTERED 
(
	[IdSalidaDocumentoRespaldo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Tra_SalidasLaboralesDocumentoRespaldo] UNIQUE NONCLUSTERED 
(
	[IdSalida] ASC,
	[IdDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Clave] [varchar](255) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_Usuarios_Nombre] UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Cat_Oficina_Nombre]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Cat_Oficina_Nombre] ON [dbo].[Cat_Oficina]
(
	[Nombre] ASC
)
INCLUDE([IdOficina]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cat_Usuario_IdOficina]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Cat_Usuario_IdOficina] ON [dbo].[Cat_Usuario]
(
	[IdOficina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventosSistema_Fecha]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_EventosSistema_Fecha] ON [dbo].[EventosSistema]
(
	[FechaEvento] ASC
)
INCLUDE([UsuarioId],[Modulo],[Descripcion]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EventosSistema_Modulo_Fecha]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_EventosSistema_Modulo_Fecha] ON [dbo].[EventosSistema]
(
	[Modulo] ASC,
	[FechaEvento] DESC
)
INCLUDE([UsuarioId],[Descripcion]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventosSistema_Usuario_Fecha]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_EventosSistema_Usuario_Fecha] ON [dbo].[EventosSistema]
(
	[UsuarioId] ASC,
	[FechaEvento] DESC
)
INCLUDE([Modulo],[Descripcion]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mae_CuposSecretaria_Fecha_IdCupo]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Mae_CuposSecretaria_Fecha_IdCupo] ON [dbo].[Mae_CuposSecretaria]
(
	[Fecha] DESC,
	[IdCupo] DESC
)
INCLUDE([IdTipo],[IdUsuario],[Cantidad]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UX_Mae_CuposSecretaria_Tipo_Anio]    Script Date: 18/02/2026 1:04:36 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Mae_CuposSecretaria_Tipo_Anio] ON [dbo].[Mae_CuposSecretaria]
(
	[IdTipo] ASC,
	[Anio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bandeja_Rapida_Optimizado]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Bandeja_Rapida_Optimizado] ON [dbo].[Mae_Documento]
(
	[IdOficinaActual] ASC,
	[IdEstadoActual] ASC,
	[FechaCreacion] DESC
)
INCLUDE([IdTipo],[NumeroOficial],[Asunto],[FechaRecepcion],[IdDocumentoPadre],[IdHiloConversacion]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Busqueda_Asunto]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Busqueda_Asunto] ON [dbo].[Mae_Documento]
(
	[Asunto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documento_Padre_Estado]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Documento_Padre_Estado] ON [dbo].[Mae_Documento]
(
	[IdDocumentoPadre] ASC,
	[IdEstadoActual] ASC
)
INCLUDE([IdHiloConversacion],[NumeroOficial],[IdTipo]) 
WHERE ([IdDocumentoPadre] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_Mae_Documento_Tipo]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_FK_Mae_Documento_Tipo] ON [dbo].[Mae_Documento]
(
	[IdTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HiloConversacion]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_HiloConversacion] ON [dbo].[Mae_Documento]
(
	[IdHiloConversacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mae_Documento_Activos_Fecha_Global]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Mae_Documento_Activos_Fecha_Global] ON [dbo].[Mae_Documento]
(
	[FechaCreacion] DESC
)
INCLUDE([IdDocumento],[IdTipo],[NumeroOficial],[Asunto],[Descripcion],[FechaRecepcion],[IdEstadoActual],[IdOficinaActual],[IdDocumentoPadre],[IdHiloConversacion],[FechaVencimiento]) 
WHERE ([IdEstadoActual]<>(5))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mae_Documento_FechaCreacion]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Mae_Documento_FechaCreacion] ON [dbo].[Mae_Documento]
(
	[FechaCreacion] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mae_Documento_Hilo_Covering]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Mae_Documento_Hilo_Covering] ON [dbo].[Mae_Documento]
(
	[IdHiloConversacion] ASC,
	[IdOficinaActual] ASC,
	[IdEstadoActual] ASC,
	[FechaCreacion] DESC
)
INCLUDE([NumeroOficial],[Asunto],[IdDocumentoPadre],[IdTipo]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mae_Documento_UsuarioCreador]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Mae_Documento_UsuarioCreador] ON [dbo].[Mae_Documento]
(
	[IdUsuarioCreador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NumeroOficial]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_NumeroOficial] ON [dbo].[Mae_Documento]
(
	[NumeroOficial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mae_NumeracionBitacora_Fecha]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Mae_NumeracionBitacora_Fecha] ON [dbo].[Mae_NumeracionBitacora]
(
	[Fecha] DESC,
	[IdBitacora] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mae_NumeracionRangos_Completo]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Mae_NumeracionRangos_Completo] ON [dbo].[Mae_NumeracionRangos]
(
	[IdTipo] ASC,
	[Anio] ASC,
	[IdOficina] ASC,
	[Activo] ASC
)
INCLUDE([NumeroInicio],[NumeroFin],[UltimoUtilizado]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UX_Mae_NumeracionRangos_Activo_OficinaTipoAnio]    Script Date: 18/02/2026 1:04:36 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Mae_NumeracionRangos_Activo_OficinaTipoAnio] ON [dbo].[Mae_NumeracionRangos]
(
	[IdTipo] ASC,
	[Anio] ASC,
	[IdOficina] ASC
)
WHERE ([Activo]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Busqueda_Reclusos]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Busqueda_Reclusos] ON [dbo].[Mae_Reclusos]
(
	[NombreCompleto] ASC
)
WHERE ([Activo]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Mae_Reclusos_Documento]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Mae_Reclusos_Documento] ON [dbo].[Mae_Reclusos]
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Seg_AuditoriaPermisos_FechaEvento]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Seg_AuditoriaPermisos_FechaEvento] ON [dbo].[Seg_AuditoriaPermisos]
(
	[FechaEvento] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Seg_AuditoriaPermisos_Usuario_Fecha]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Seg_AuditoriaPermisos_Usuario_Fecha] ON [dbo].[Seg_AuditoriaPermisos]
(
	[UsuarioId] ASC,
	[FechaEvento] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tra_AdjuntoDocumento_Listado]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Tra_AdjuntoDocumento_Listado] ON [dbo].[Tra_AdjuntoDocumento]
(
	[IdDocumento] ASC,
	[AddedAt] ASC
)
INCLUDE([StoredName],[DisplayName]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Tra_AdjuntoDocumento_Documento_StoredName]    Script Date: 18/02/2026 1:04:36 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Tra_AdjuntoDocumento_Documento_StoredName] ON [dbo].[Tra_AdjuntoDocumento]
(
	[IdDocumento] ASC,
	[StoredName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tra_Movimiento_Auditoria]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Tra_Movimiento_Auditoria] ON [dbo].[Tra_Movimiento]
(
	[FechaMovimiento] DESC,
	[IdUsuarioResponsable] ASC,
	[IdOficinaOrigen] ASC,
	[IdOficinaDestino] ASC
)
INCLUDE([IdDocumento],[IdEstadoEnEseMomento],[ObservacionPase]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tra_Movimiento_Documento]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Tra_Movimiento_Documento] ON [dbo].[Tra_Movimiento]
(
	[IdDocumento] ASC
)
INCLUDE([FechaMovimiento],[IdOficinaOrigen],[IdOficinaDestino],[IdUsuarioResponsable]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tra_Movimiento_Fecha]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Tra_Movimiento_Fecha] ON [dbo].[Tra_Movimiento]
(
	[FechaMovimiento] ASC
)
INCLUDE([IdOficinaOrigen],[IdOficinaDestino],[IdUsuarioResponsable]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tra_Movimiento_OficinaDestino_Fecha]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Tra_Movimiento_OficinaDestino_Fecha] ON [dbo].[Tra_Movimiento]
(
	[IdOficinaDestino] ASC,
	[FechaMovimiento] DESC
)
INCLUDE([IdDocumento],[IdOficinaOrigen],[IdEstadoEnEseMomento],[IdUsuarioResponsable]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tra_Movimiento_OficinaOrigen_Fecha]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Tra_Movimiento_OficinaOrigen_Fecha] ON [dbo].[Tra_Movimiento]
(
	[IdOficinaOrigen] ASC,
	[FechaMovimiento] DESC
)
INCLUDE([IdDocumento],[IdOficinaDestino],[IdEstadoEnEseMomento],[IdUsuarioResponsable]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tra_Movimiento_Ultimo]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Tra_Movimiento_Ultimo] ON [dbo].[Tra_Movimiento]
(
	[IdDocumento] ASC,
	[IdMovimiento] DESC
)
INCLUDE([IdOficinaOrigen]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tra_SalidasLaborales_Recluso_Activo_Vencimiento]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Tra_SalidasLaborales_Recluso_Activo_Vencimiento] ON [dbo].[Tra_SalidasLaborales]
(
	[IdRecluso] ASC,
	[Activo] ASC,
	[FechaVencimiento] ASC
)
INCLUDE([IdSalida],[IdDocumentoRespaldo],[FechaInicio]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tra_SalidasLaboralesDocumentoRespaldo_IdDocumento]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Tra_SalidasLaboralesDocumentoRespaldo_IdDocumento] ON [dbo].[Tra_SalidasLaboralesDocumentoRespaldo]
(
	[IdDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tra_SalidasLaboralesDocumentoRespaldo_IdSalida]    Script Date: 18/02/2026 1:04:36 ******/
CREATE NONCLUSTERED INDEX [IX_Tra_SalidasLaboralesDocumentoRespaldo_IdSalida] ON [dbo].[Tra_SalidasLaboralesDocumentoRespaldo]
(
	[IdSalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cat_Oficina] ADD  DEFAULT ((0)) FOR [EsExterna]
GO
ALTER TABLE [dbo].[Cat_Oficina_MergeLog] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Cat_TipoDocumento] ADD  DEFAULT ((1)) FOR [EsInterno]
GO
ALTER TABLE [dbo].[Cat_Usuario] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Cat_Usuario] ADD  DEFAULT ('OPERADOR') FOR [Rol]
GO
ALTER TABLE [dbo].[Cfg_SistemaParametros] ADD  CONSTRAINT [DF_Cfg_SistemaParametros_FechaActualizacion]  DEFAULT (sysdatetime()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[Cfg_TiemposRespuesta_Historial] ADD  DEFAULT (getdate()) FOR [FechaCambio]
GO
ALTER TABLE [dbo].[Cfg_TiemposRespuesta_Historial] ADD  DEFAULT (suser_sname()) FOR [UsuarioSistema]
GO
ALTER TABLE [dbo].[EventosSistema] ADD  DEFAULT (getdate()) FOR [FechaEvento]
GO
ALTER TABLE [dbo].[Mae_CuposSecretaria] ADD  CONSTRAINT [DF_Mae_CuposSecretaria_NombreCupo]  DEFAULT ('CUPO-SIN-DEFINIR') FOR [NombreCupo]
GO
ALTER TABLE [dbo].[Mae_CuposSecretaria] ADD  CONSTRAINT [DF_Mae_CuposSecretaria_Anio]  DEFAULT (datepart(year,getdate())) FOR [Anio]
GO
ALTER TABLE [dbo].[Mae_Documento] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Mae_Documento] ADD  DEFAULT (getdate()) FOR [FechaRecepcion]
GO
ALTER TABLE [dbo].[Mae_Documento] ADD  DEFAULT ((1)) FOR [Fojas]
GO
ALTER TABLE [dbo].[Mae_Documento] ADD  DEFAULT (newid()) FOR [IdHiloConversacion]
GO
ALTER TABLE [dbo].[Mae_NumeracionBitacora] ADD  CONSTRAINT [DF_Mae_NumeracionBitacora_Fecha]  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Mae_NumeracionRangos] ADD  DEFAULT ((1)) FOR [NumeroInicio]
GO
ALTER TABLE [dbo].[Mae_NumeracionRangos] ADD  DEFAULT ((0)) FOR [UltimoUtilizado]
GO
ALTER TABLE [dbo].[Mae_NumeracionRangos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Mae_NumeracionRangos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Mae_NumeracionRangos] ADD  CONSTRAINT [DF_Mae_NumeracionRangos_Anio]  DEFAULT (datepart(year,getdate())) FOR [Anio]
GO
ALTER TABLE [dbo].[Mae_Reclusos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Seg_AuditoriaPermisos] ADD  CONSTRAINT [DF_Seg_AuditoriaPermisos_FechaEvento]  DEFAULT (sysdatetime()) FOR [FechaEvento]
GO
ALTER TABLE [dbo].[Tra_Movimiento] ADD  DEFAULT (getdate()) FOR [FechaMovimiento]
GO
ALTER TABLE [dbo].[Tra_SalidasLaborales] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Tra_SalidasLaboralesDocumentoRespaldo] ADD  CONSTRAINT [DF_TraSalidaDocRespaldo_FechaRegistro]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Cat_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Oficina] FOREIGN KEY([IdOficina])
REFERENCES [dbo].[Cat_Oficina] ([IdOficina])
GO
ALTER TABLE [dbo].[Cat_Usuario] CHECK CONSTRAINT [FK_Usuario_Oficina]
GO
ALTER TABLE [dbo].[Cfg_TiemposRespuesta]  WITH CHECK ADD FOREIGN KEY([IdTipoDocumento])
REFERENCES [dbo].[Cat_TipoDocumento] ([IdTipo])
GO
ALTER TABLE [dbo].[EventosSistema]  WITH CHECK ADD  CONSTRAINT [FK_Eventos_CatUsuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Cat_Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[EventosSistema] CHECK CONSTRAINT [FK_Eventos_CatUsuario]
GO
ALTER TABLE [dbo].[Mae_CuposSecretaria]  WITH CHECK ADD  CONSTRAINT [FK_MaeCuposSecretaria_Tipo] FOREIGN KEY([IdTipo])
REFERENCES [dbo].[Cat_TipoDocumento] ([IdTipo])
GO
ALTER TABLE [dbo].[Mae_CuposSecretaria] CHECK CONSTRAINT [FK_MaeCuposSecretaria_Tipo]
GO
ALTER TABLE [dbo].[Mae_CuposSecretaria]  WITH CHECK ADD  CONSTRAINT [FK_MaeCuposSecretaria_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Cat_Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Mae_CuposSecretaria] CHECK CONSTRAINT [FK_MaeCuposSecretaria_Usuario]
GO
ALTER TABLE [dbo].[Mae_Documento]  WITH CHECK ADD FOREIGN KEY([IdDocumentoPadre])
REFERENCES [dbo].[Mae_Documento] ([IdDocumento])
GO
ALTER TABLE [dbo].[Mae_Documento]  WITH CHECK ADD FOREIGN KEY([IdEstadoActual])
REFERENCES [dbo].[Cat_Estado] ([IdEstado])
GO
ALTER TABLE [dbo].[Mae_Documento]  WITH CHECK ADD FOREIGN KEY([IdOficinaActual])
REFERENCES [dbo].[Cat_Oficina] ([IdOficina])
GO
ALTER TABLE [dbo].[Mae_Documento]  WITH CHECK ADD FOREIGN KEY([IdTipo])
REFERENCES [dbo].[Cat_TipoDocumento] ([IdTipo])
GO
ALTER TABLE [dbo].[Mae_Documento]  WITH CHECK ADD FOREIGN KEY([IdUsuarioCreador])
REFERENCES [dbo].[Cat_Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Mae_NumeracionBitacora]  WITH CHECK ADD  CONSTRAINT [FK_MaeNumeracionBitacora_Oficina] FOREIGN KEY([IdOficina])
REFERENCES [dbo].[Cat_Oficina] ([IdOficina])
GO
ALTER TABLE [dbo].[Mae_NumeracionBitacora] CHECK CONSTRAINT [FK_MaeNumeracionBitacora_Oficina]
GO
ALTER TABLE [dbo].[Mae_NumeracionBitacora]  WITH CHECK ADD  CONSTRAINT [FK_MaeNumeracionBitacora_Tipo] FOREIGN KEY([IdTipo])
REFERENCES [dbo].[Cat_TipoDocumento] ([IdTipo])
GO
ALTER TABLE [dbo].[Mae_NumeracionBitacora] CHECK CONSTRAINT [FK_MaeNumeracionBitacora_Tipo]
GO
ALTER TABLE [dbo].[Mae_NumeracionBitacora]  WITH CHECK ADD  CONSTRAINT [FK_MaeNumeracionBitacora_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Cat_Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Mae_NumeracionBitacora] CHECK CONSTRAINT [FK_MaeNumeracionBitacora_Usuario]
GO
ALTER TABLE [dbo].[Mae_NumeracionRangos]  WITH CHECK ADD  CONSTRAINT [FK_Numeracion_Oficina] FOREIGN KEY([IdOficina])
REFERENCES [dbo].[Cat_Oficina] ([IdOficina])
GO
ALTER TABLE [dbo].[Mae_NumeracionRangos] CHECK CONSTRAINT [FK_Numeracion_Oficina]
GO
ALTER TABLE [dbo].[Mae_NumeracionRangos]  WITH CHECK ADD  CONSTRAINT [FK_Numeracion_Tipo] FOREIGN KEY([IdTipo])
REFERENCES [dbo].[Cat_TipoDocumento] ([IdTipo])
GO
ALTER TABLE [dbo].[Mae_NumeracionRangos] CHECK CONSTRAINT [FK_Numeracion_Tipo]
GO
ALTER TABLE [dbo].[Tra_AdjuntoDocumento]  WITH CHECK ADD  CONSTRAINT [FK_Tra_AdjuntoDocumento_Mae_Documento] FOREIGN KEY([IdDocumento])
REFERENCES [dbo].[Mae_Documento] ([IdDocumento])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tra_AdjuntoDocumento] CHECK CONSTRAINT [FK_Tra_AdjuntoDocumento_Mae_Documento]
GO
ALTER TABLE [dbo].[Tra_Movimiento]  WITH CHECK ADD FOREIGN KEY([IdDocumento])
REFERENCES [dbo].[Mae_Documento] ([IdDocumento])
GO
ALTER TABLE [dbo].[Tra_Movimiento]  WITH CHECK ADD FOREIGN KEY([IdEstadoEnEseMomento])
REFERENCES [dbo].[Cat_Estado] ([IdEstado])
GO
ALTER TABLE [dbo].[Tra_Movimiento]  WITH CHECK ADD FOREIGN KEY([IdOficinaOrigen])
REFERENCES [dbo].[Cat_Oficina] ([IdOficina])
GO
ALTER TABLE [dbo].[Tra_Movimiento]  WITH CHECK ADD FOREIGN KEY([IdOficinaDestino])
REFERENCES [dbo].[Cat_Oficina] ([IdOficina])
GO
ALTER TABLE [dbo].[Tra_Movimiento]  WITH CHECK ADD FOREIGN KEY([IdUsuarioResponsable])
REFERENCES [dbo].[Cat_Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Tra_SalidasLaborales]  WITH CHECK ADD  CONSTRAINT [FK_Salidas_Documento] FOREIGN KEY([IdDocumentoRespaldo])
REFERENCES [dbo].[Mae_Documento] ([IdDocumento])
GO
ALTER TABLE [dbo].[Tra_SalidasLaborales] CHECK CONSTRAINT [FK_Salidas_Documento]
GO
ALTER TABLE [dbo].[Tra_SalidasLaborales]  WITH CHECK ADD  CONSTRAINT [FK_Salidas_Reclusos] FOREIGN KEY([IdRecluso])
REFERENCES [dbo].[Mae_Reclusos] ([IdRecluso])
GO
ALTER TABLE [dbo].[Tra_SalidasLaborales] CHECK CONSTRAINT [FK_Salidas_Reclusos]
GO
ALTER TABLE [dbo].[Tra_SalidasLaboralesDocumentoRespaldo]  WITH CHECK ADD  CONSTRAINT [FK_Tra_SalidasLaboralesDocumentoRespaldo_Mae_Documento] FOREIGN KEY([IdDocumento])
REFERENCES [dbo].[Mae_Documento] ([IdDocumento])
GO
ALTER TABLE [dbo].[Tra_SalidasLaboralesDocumentoRespaldo] CHECK CONSTRAINT [FK_Tra_SalidasLaboralesDocumentoRespaldo_Mae_Documento]
GO
ALTER TABLE [dbo].[Tra_SalidasLaboralesDocumentoRespaldo]  WITH CHECK ADD  CONSTRAINT [FK_Tra_SalidasLaboralesDocumentoRespaldo_Tra_SalidasLaborales] FOREIGN KEY([IdSalida])
REFERENCES [dbo].[Tra_SalidasLaborales] ([IdSalida])
GO
ALTER TABLE [dbo].[Tra_SalidasLaboralesDocumentoRespaldo] CHECK CONSTRAINT [FK_Tra_SalidasLaboralesDocumentoRespaldo_Tra_SalidasLaborales]
GO
/****** Object:  StoredProcedure [dbo].[sp_UnificarOficinas]    Script Date: 18/02/2026 1:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UnificarOficinas]
    @NombreDestino VARCHAR(200),
    @ListaIdsBorrar VARCHAR(MAX) -- Ej: "765,771,685"
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        -- 1. Buscar o Crear la Oficina Maestra (Destino)
        DECLARE @IdMaestro INT;
        SET @NombreDestino = LTRIM(RTRIM(@NombreDestino));

        SELECT TOP 1 @IdMaestro = IdOficina FROM Cat_Oficina WHERE Nombre = @NombreDestino;

        IF @IdMaestro IS NULL
        BEGIN
            INSERT INTO Cat_Oficina (Nombre, EsExterna) VALUES (@NombreDestino, 1);
            SET @IdMaestro = SCOPE_IDENTITY();
        END

        -- 2. Convertir la lista de IDs (string) en una tabla real
        -- Usamos XML para compatibilidad con cualquier versión de SQL Server
        DECLARE @xml XML = CAST('<x>' + REPLACE(@ListaIdsBorrar, ',', '</x><x>') + '</x>' AS XML);
        
        DECLARE @IdsTable TABLE (Id INT);
        INSERT INTO @IdsTable
        SELECT x.value('.', 'int') FROM @xml.nodes('/x') AS t(x)
        WHERE x.value('.', 'int') <> @IdMaestro; -- Evitar borrarse a sí mismo

        -- 3. Mover la data (Documentos)
        UPDATE Mae_Documento 
        SET IdOficinaActual = @IdMaestro 
        WHERE IdOficinaActual IN (SELECT Id FROM @IdsTable);

        -- 4. Mover el Historial (Origen)
        UPDATE Tra_Movimiento 
        SET IdOficinaOrigen = @IdMaestro 
        WHERE IdOficinaOrigen IN (SELECT Id FROM @IdsTable);

        -- 5. Mover el Historial (Destino)
        UPDATE Tra_Movimiento 
        SET IdOficinaDestino = @IdMaestro 
        WHERE IdOficinaDestino IN (SELECT Id FROM @IdsTable);

        -- 6. Borrar las oficinas viejas
        DELETE FROM Cat_Oficina 
        WHERE IdOficina IN (SELECT Id FROM @IdsTable);

        COMMIT TRAN;
        SELECT 1 AS Resultado, 'Fusión Exitosa' AS Mensaje;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        SELECT 0 AS Resultado, ERROR_MESSAGE() AS Mensaje;
    END CATCH
END
GO
USE [master]
GO
