.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.bi,
.nav-item ::deep .bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-documentos-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%234fc3f7' viewBox='0 0 16 16'%3E%3Cpath d='M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM10 3a1 1 0 0 0 1 1h2L10 1v2Z'/%3E%3Cpath d='M4 8h8v1H4V8Zm0 2h8v1H4v-1Zm0 2h5v1H4v-1Z'/%3E%3C/svg%3E");
}


.bi-vinculacion-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%234dd0e1' viewBox='0 0 16 16'%3E%3Cpath d='M6.354 5.5H3a2 2 0 1 0 0 1h3.354a2.5 2.5 0 0 0 0 3H3a2 2 0 1 0 0 1h3.354a2.5 2.5 0 1 0 0-5Zm0 4a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm6.292-4H9.292a2.5 2.5 0 1 0 0 1h3.354a2 2 0 1 0 0-1Zm0 1a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm0 4H9.292a2.5 2.5 0 1 0 0 1h3.354a2 2 0 1 0 0-1Zm0 1a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z'/%3E%3C/svg%3E");
}

.bi-art120-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ff8a65' viewBox='0 0 16 16'%3E%3Cpath d='M4 0a2 2 0 0 0-2 2v12.5A1.5 1.5 0 0 0 3.5 16H12a2 2 0 0 0 2-2V4.5L9.5 0H4Zm5 1.5V4h2.5L9 1.5ZM4 6h8v1H4V6Zm0 2.5h8v1H4v-1Zm0 2.5h5v1H4v-1Z'/%3E%3Cpath d='M11.5 11.5a.5.5 0 0 1 .5.5v2h-1v-1h-1v-1h1.5Z'/%3E%3C/svg%3E");
}
.bi-people-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23957be8' class='bi bi-people-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zM4.216 14A2.24 2.24 0 0 1 4 13c0-1 1-2.74 3-3.74A5.7 5.7 0 0 0 5 9c-4 0-5 3-5 4 0 .74.52 1 1 1z'/%3E%3Cpath d='M10 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4'/%3E%3C/svg%3E");
}

.bi-oficinas-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ffb74d' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 15V1h6A1.5 1.5 0 0 1 14 2.5V15h1v1H1v-1h1V3.5A1.5 1.5 0 0 1 3.5 2H5v13h1.5ZM4 4h1v1H4V4Zm0 2h1v1H4V6Zm0 2h1v1H4V8Zm0 2h1v1H4v-1Zm4-6h1v1H8V4Zm0 2h1v1H8V6Zm0 2h1v1H8V8Zm0 2h1v1H8v-1Zm3-6h1v1h-1V4Zm0 2h1v1h-1V6Zm0 2h1v1h-1V8Zm0 2h1v1h-1v-1Z'/%3E%3C/svg%3E");
}

.bi-tipos-documento-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23aed581' viewBox='0 0 16 16'%3E%3Cpath d='M2 2a2 2 0 0 1 2-2h5.5L14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2Zm8 1v2h2L10 3ZM4 7h8v1H4V7Zm0 2h8v1H4V9Zm0 2h5v1H4v-1Z'/%3E%3C/svg%3E");
}

.bi-estados-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23f48fb1' viewBox='0 0 16 16'%3E%3Cpath d='M14.778 3.56a.5.5 0 0 1-.064.704L10 8l4.714 3.736a.5.5 0 1 1-.628.78l-5-4a.5.5 0 0 1 0-.78l5-4a.5.5 0 0 1 .692.064ZM1 2.5A.5.5 0 0 1 1.5 2h1a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-11Z'/%3E%3C/svg%3E");
}


.bi-dashboard-nav-menu,
.nav-item ::deep .bi-dashboard-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%231e88e5' viewBox='0 0 16 16'%3E%3Cpath d='M0 0h16v16H0z' fill='none'/%3E%3Cpath d='M1.5 2A1.5 1.5 0 0 1 3 0.5h10A1.5 1.5 0 0 1 14.5 2v12A1.5 1.5 0 0 1 13 15.5H3A1.5 1.5 0 0 1 1.5 14V2Zm1 0v3h11V2a.5.5 0 0 0-.5-.5H3a.5.5 0 0 0-.5.5Zm11 4h-11v8a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V6Z'/%3E%3Cpath d='M4 8h3v2H4V8Zm0 3h3v2H4v-2Zm5-3h3v5H9V8Z'/%3E%3C/svg%3E");
}

.bi-semaforos-nav-menu,
.nav-item ::deep .bi-semaforos-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23e53935' viewBox='0 0 16 16'%3E%3Cpath d='M6 1a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h1v3H5.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1H9v-3h1a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H6Zm0 1h4a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1Z'/%3E%3Ccircle cx='8' cy='4' r='1' fill='%23ef5350'/%3E%3Ccircle cx='8' cy='6.5' r='1' fill='%23ffee58'/%3E%3Ccircle cx='8' cy='9' r='1' fill='%2366bb6a'/%3E%3C/svg%3E");
}

.bi-plazos-documentos-nav-menu,
.nav-item ::deep .bi-plazos-documentos-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%238e24aa' viewBox='0 0 16 16'%3E%3Cpath d='M4 1a1 1 0 0 1 1 1v1h6V2a1 1 0 1 1 2 0v1h.5A1.5 1.5 0 0 1 15 4.5v9A1.5 1.5 0 0 1 13.5 15h-11A1.5 1.5 0 0 1 1 13.5v-9A1.5 1.5 0 0 1 2.5 3H3V2a1 1 0 0 1 1-1Zm9.5 5h-11v7.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V6Z'/%3E%3Cpath d='M8 7a.5.5 0 0 1 .5.5v2.293l1.354 1.353a.5.5 0 1 1-.708.708L7.646 10.354A.5.5 0 0 1 7.5 10V7.5A.5.5 0 0 1 8 7Z'/%3E%3C/svg%3E");
}

.bi-auditoria-permisos-nav-menu,
.nav-item ::deep .bi-auditoria-permisos-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23f4511e' viewBox='0 0 16 16'%3E%3Cpath d='M8 0 1 3v4c0 4.5 3 7.8 7 9 4-1.2 7-4.5 7-9V3L8 0Zm0 1.1 6 2.57V7c0 3.91-2.52 6.81-6 7.92C4.52 13.81 2 10.91 2 7V3.67L8 1.1Z'/%3E%3Cpath d='M7.25 4.5h1.5v5h-1.5v-5Zm0 6h1.5V12h-1.5v-1.5Z'/%3E%3C/svg%3E");
}
.bi-rangos-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ffd54f' viewBox='0 0 16 16'%3E%3Cpath d='M2 2h12v2H2V2Zm0 5h5v2H2V7Zm0 5h8v2H2v-2Zm9-5h3v7h-3V7Zm1 1v5h1V8h-1Z'/%3E%3C/svg%3E");
}

.bi-usuarios-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2381c784' viewBox='0 0 16 16'%3E%3Cpath d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5 7a5 5 0 0 1 10 0H3Zm9.5-6.5a2.5 2.5 0 1 0-1.197-4.696A3.9 3.9 0 0 1 12 6a3.9 3.9 0 0 1-.209 1.27c.228.147.468.23.709.23Zm.01 1c-.29 0-.576-.04-.85-.116A6 6 0 0 1 15.5 15h-1.75a5.95 5.95 0 0 0-1.24-3.5Z'/%3E%3C/svg%3E");
}

.bi-guia-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2364b5f6' viewBox='0 0 16 16'%3E%3Cpath d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16Zm.93-12.412-1 4.705c-.07.34-.03.533.194.533.165 0 .426-.11.68-.318l-.088.416c-.287.245-.693.433-1.145.433-.684 0-1.02-.426-.86-1.176l.95-4.468c.068-.323.034-.466-.228-.466-.174 0-.413.072-.667.223l.09-.43c.288-.24.705-.39 1.11-.39.685 0 1.035.407.964.968ZM8 11.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z'/%3E%3C/svg%3E");
}


.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
}

.nav-item:first-of-type {
    padding-top: 0.3rem;
}

.nav-item:last-of-type {
    padding-bottom: 0.5rem;
}

.nav-item ::deep .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 0.5rem;
    height: 2.85rem;
    display: flex;
    align-items: center;
    line-height: 2.85rem;
    width: 100%;
    margin-bottom: 0.2rem;
    transition: background-color 0.2s;
}

.nav-item ::deep a.active,
.nav-item ::deep .nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-weight: bold;
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.nav-system-action {
    padding-bottom: 0;
}

.nav-system-action ::deep .nav-link {
    height: auto;
    line-height: 1;
}

.nav-scrollable {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        display: block;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
