.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-documentos-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%234fc3f7' viewBox='0 0 16 16'%3E%3Cpath d='M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM10 3a1 1 0 0 0 1 1h2L10 1v2Z'/%3E%3Cpath d='M4 8h8v1H4V8Zm0 2h8v1H4v-1Zm0 2h5v1H4v-1Z'/%3E%3C/svg%3E");
}


.bi-vinculacion-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%234dd0e1' viewBox='0 0 16 16'%3E%3Cpath d='M6.354 5.5H3a2 2 0 1 0 0 1h3.354a2.5 2.5 0 0 0 0 3H3a2 2 0 1 0 0 1h3.354a2.5 2.5 0 1 0 0-5Zm0 4a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm6.292-4H9.292a2.5 2.5 0 1 0 0 1h3.354a2 2 0 1 0 0-1Zm0 1a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm0 4H9.292a2.5 2.5 0 1 0 0 1h3.354a2 2 0 1 0 0-1Zm0 1a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z'/%3E%3C/svg%3E");
}

.bi-art120-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ff8a65' viewBox='0 0 16 16'%3E%3Cpath d='M4 0a2 2 0 0 0-2 2v12.5A1.5 1.5 0 0 0 3.5 16H12a2 2 0 0 0 2-2V4.5L9.5 0H4Zm5 1.5V4h2.5L9 1.5ZM4 6h8v1H4V6Zm0 2.5h8v1H4v-1Zm0 2.5h5v1H4v-1Z'/%3E%3Cpath d='M11.5 11.5a.5.5 0 0 1 .5.5v2h-1v-1h-1v-1h1.5Z'/%3E%3C/svg%3E");
}
.bi-people-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23957be8' class='bi bi-people-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zM4.216 14A2.24 2.24 0 0 1 4 13c0-1 1-2.74 3-3.74A5.7 5.7 0 0 0 5 9c-4 0-5 3-5 4 0 .74.52 1 1 1z'/%3E%3Cpath d='M10 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4'/%3E%3C/svg%3E");
}

.bi-oficinas-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ffb74d' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 15V1h6A1.5 1.5 0 0 1 14 2.5V15h1v1H1v-1h1V3.5A1.5 1.5 0 0 1 3.5 2H5v13h1.5ZM4 4h1v1H4V4Zm0 2h1v1H4V6Zm0 2h1v1H4V8Zm0 2h1v1H4v-1Zm4-6h1v1H8V4Zm0 2h1v1H8V6Zm0 2h1v1H8V8Zm0 2h1v1H8v-1Zm3-6h1v1h-1V4Zm0 2h1v1h-1V6Zm0 2h1v1h-1V8Zm0 2h1v1h-1v-1Z'/%3E%3C/svg%3E");
}

.bi-tipos-documento-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23aed581' viewBox='0 0 16 16'%3E%3Cpath d='M2 2a2 2 0 0 1 2-2h5.5L14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2Zm8 1v2h2L10 3ZM4 7h8v1H4V7Zm0 2h8v1H4V9Zm0 2h5v1H4v-1Z'/%3E%3C/svg%3E");
}

.bi-estados-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23f48fb1' viewBox='0 0 16 16'%3E%3Cpath d='M14.778 3.56a.5.5 0 0 1-.064.704L10 8l4.714 3.736a.5.5 0 1 1-.628.78l-5-4a.5.5 0 0 1 0-.78l5-4a.5.5 0 0 1 .692.064ZM1 2.5A.5.5 0 0 1 1.5 2h1a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-11Z'/%3E%3C/svg%3E");
}

.bi-rangos-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ffd54f' viewBox='0 0 16 16'%3E%3Cpath d='M2 2h12v2H2V2Zm0 5h5v2H2V7Zm0 5h8v2H2v-2Zm9-5h3v7h-3V7Zm1 1v5h1V8h-1Z'/%3E%3C/svg%3E");
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
