<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <div class="alert alert-danger">
                        No tienes permiso para ver esta página. <a href="login">Ir al Login</a>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>No encontrado</PageTitle>
            <LayoutView Layout="typeof(Layout.MainLayout)">
                <p role="alert">Lo siento, no hay nada en esta dirección.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
